<div class="ng-alerts-list">
    <div ng-show="alerts.length > 0">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th colspan="2">Message</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="alert in alerts" class="{{alert.type}}">
                    <td>
                        {{alert.msg}}
                    </td>
                    <td>
                        <button ng-click="remove(alert.id)" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="alerts.length === 0">
        {{emptyList}}
    </div>
</div>